name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Ensure 'cargo fmt'
      run: cargo fmt -- --check
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Run example - simple_speedtest
      run: cargo run --example simple_speedtest
    - name: Run example - download_test
      run: cargo run --example download_test
    - name: Run example - latency_test
      run: cargo run --example latency_test
    - name: Run CLI
      run: cargo run

  docker-build-amd64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build AMD64 Docker image
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64
          push: false
          provenance: false
          tags: |
            cybuerg/cfspeedtest:${{ github.sha }}-amd64

  docker-build-arm64:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
      - name: Build ARM64 Docker image
        run: docker build --platform linux/arm64 -t cybuerg/cfspeedtest:${{ github.sha }}-arm64 .

